<header class="repel">

  <div class="menu cluster">
    <a data-type="cta" href="#contact-form">יצירת קשר</a>
  </div>

  <div class="small-menu cluster">

    <div class="hover-underline">
      <a class="link-grab nav__link" href="#services">
        <span class="link-content">
          <span class="link-inner-content">
            <span>
              שירותים
              <span aria-hidden="true">שירותים</span>
            </span>
          </span>
        </span>
      </a>
    </div>

    <div class="hover-underline">
      <a class="link-grab nav__link hover-underline" href="#projects">
        <span class="link-content">
          <span class="link-inner-content">
            <span>
              עבודות
              <span aria-hidden="true">עבודות</span>
            </span>
          </span>
        </span>
      </a>
    </div>

  </div>
  
  <div class="logo" data-did-scroll="false">
    <h3>FOR<span>WEB</span></h3>
    <div class="logo__shapes">
      <span data-shape="cube"></span>
      <span data-shape="circle"></span>
    </div>
  </div>
</header>

<script>
  let logo = document.querySelector('.logo');
  let smallMenu = document.querySelector('.small-menu');
  console.log(smallMenu);

  window.addEventListener('load', () => {
    if (window.scrollY > 110) {
      logo.setAttribute('data-did-scroll', 'true')
      smallMenu.setAttribute('data-did-scroll', 'true')
    } else {
      logo.setAttribute('data-did-scroll', 'false')
      smallMenu.setAttribute('data-did-scroll', 'false')
    }
  })

  window.addEventListener('scroll', () => {
    if (window.scrollY > 110) {
      logo.setAttribute('data-did-scroll', 'true')
      smallMenu.setAttribute('data-did-scroll', 'true')
    } else {
      logo.setAttribute('data-did-scroll', 'false')
      smallMenu.setAttribute('data-did-scroll', 'false')
    }
  })

</script>

<style lang="scss">

  @mixin link($timing: 0.9s cubic-bezier(0.19, 1, 0.22, 1)) {
    display: flex;
    flex: none;
    flex-direction: row;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    order: 0;
    padding: 15px 20px;
    font-weight: inherit;
    font-size: var(--step-0);
    line-height: var(--lh140);
    letter-spacing: -0.02em;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    position: relative;
    overflow: hidden;
    transition: background 0.6s, color 0.6s;
    text-decoration: none;
    max-width: fit-content;

    &::after,
    &::before {
      display: none;
    }

    span.link-inner-content {
      display: block;
      overflow: hidden;
      text-decoration: none;
      pointer-events: none;
    }

    span.link-inner-content span {
      display: block;
      position: relative;
      transform-origin: left top;
      transition: transform $timing;
      pointer-events: none;
      text-decoration: none;
    }
  }

  /* split roll up transition out to enable better focus states */
  @mixin link-animation($timing: 0.9s cubic-bezier(0.19, 1, 0.22, 1)) {
    .link-inner-content span:after {
      content: attr(data-text);
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      transform-origin: left top;
      transition: transform 0.9s;
      width: 100%;
      height: 100%;
    }

    // Guram this is part we want to add for the accessibility
    // concerns. We also need to change the markup as well
    
    // Guram
    .link-inner-content > span > span[aria-hidden] {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      transform-origin: left top;
      transition: transform $timing;
      width: 100%;
      height: 100%;
    }
    // Guram

    &:focus,
    &:focus-visible,
    &:hover {
      text-decoration: none;

      // Guram this is part we want to add for the accessibility
      // concerns. We also need to change the markup as well
      
      // Guram
      .link-inner-content > span > span[aria-hidden] {
        transform: translateY(0%);
      }
      // Guram

      .link-inner-content span {
        transform: translateY(-100%);
      }
    }
  }

  .nav__link {
      @include link-animation(
        $timing: 0.9s cubic-bezier(0.19, 1, 0.22, 1)
      );
      @include link($timing: 0.9s cubic-bezier(0.19, 1, 0.22, 1));

      font-size: var(--step-0);
      color: var(--color-dark);
  }




  h3 {
    display: inline-block;
    color: var(--color-accent-2);
  }

  h3 span {
    color: var(--color-accent);
  }

  [data-did-scroll="true"] {
    opacity: 0;
  }

  .logo {
    z-index: 1;
    transition: .2s linear .05s, transform .05s linear
  }


  .logo__shapes {
    position: relative;
    display: inline-block;
    width: 24px;
  }

  .logo__shapes span[data-shape="circle"] {
    bottom: 0;
    left: 0;
    margin-left: -10px;
    margin-top: -10px;
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    /* border-radius: 50px; */
    background: var(--color-accent);
    z-index: 1;
  }

  span[data-shape="cube"] {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 24px;
    height: 24px;
    background: var(--color-accent-2);
    z-index: 0;
  }

  header {
    position: sticky;
    top: 0;
    padding-block: var(--space-xs);
    flex-direction: row-reverse;
    width: 100%;
    max-width: 100%;
    z-index: 1;
    margin-bottom: var(--space-2xl);
  }

  .logo {

  }

  .menu {
    --gutter: 1em;
    --color-mid: #bababa;

    padding: var(--space-3xs) var(--space-2xs);
    background: var(--color-light);
    color: var(--color-dark);

    border-radius: var(--menu-border-radius);
    border: 1px solid #bababa;
  }

  a {
    text-decoration: none;
    padding-left: var(--space-m);
  }

  a[data-type="cta"] {
    background: var(--color-accent);
    border-radius: 50px;
    color: var(--color-light);
    padding: var(--space-3xs) 20px;
    border: 1px solid var(--color-mid);

      &:hover {
        background: var(--color-dark);
      }
  }

  @media (max-width: 568px) {
    a:not([data-type='cta']){
      display: none;
    }
  }

  .hover-underline::before {
    --h-underline-space: 0.5rem;
  }

  .hover-underline > * {
      text-decoration: none !important;
  }
</style>
