.tech-card {
  --cards: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  background-color: var(--color-mid-glare);
  border-top: 1px solid var(--color-onyx);
  border-bottom: 1px solid var(--color-onyx);
}

.tech__item {
    --span: 1;
    width: calc((100% - (var(--cards) - 1) * 1px) / var(--cards) * var(--span) + (var(--span) - 1) * 1px);
    /* max-height: 10.2rem; */
    padding: 0.5em;
    background-color: var(--color-light);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: var(--t-fast);
}

.tech__item:hover {
    background-color: var(--color-primary);
}

.tech__label {
  color: var(--color-onyx);
  font-size: var(--step--2);
}

.tech__item img {
  height: auto;
  max-width: 100%;
  display: block;
  width: 41px;
  height: 41px;
  margin-bottom: 0.25em;
}

@media (max-width: 1024px) {
  .tech-card {
    --cards: 3;
  }
}
